.o-announcement{
  background-color: $nav-border;
  padding-top: 82px;
  padding-bottom: 70px;
  
  .accordian-ul{
    @include margin(0,auto, 17px, auto);
    max-width: 90%;
  }

  .accordian-li{
    @include padding-mixin(41px, 50px, 45px, 58px);
    height: auto;
    cursor: auto;
    text-align: justify;
    color: $global-font-text-color;
  }

  .accordian-head{
    @include padding-mixin(5px, 54px, 5px, 32px);
    min-height: 79px;
  }

  .round-img{
    @include dimensions(50px, 50px);
    @include margin(0, 30px, 0, 0);
  }

  .accordian-collapsar{
    @include margin(0, 33px, 0, 0);
  }

  .heading-u{
    @include margin(0, 0, 55px, 5%);
  }

  .heading-d{
    @include margin(0,0,0,0);
  }

  .main-h{
    margin-bottom: 5px;
    color: $global-font-text-color;
    font-size: $font-sm;
    font-weight: $font-normal;
  }

  .sub-h{
    color: $default-accordian-font;
    font-size: $global-font-size;
    font-weight: $font-normal;
  }

  .classroom-para{
    @include margin(0,0,0,0);
    font-size: $font-sm;
  }

  .notify-icon{
    width: 50px
  }

  .button-dashed{
    @include dimensions(152px, 48px);
    @include margin(80px, auto, 0, auto);
    background: transparent;
    //font-size: $global-font-size;
    border-radius: 24px;
  }

}